@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Code+Pro:wght@400;700&display=swap");

:root {
  --accent: #00f2de;
  --light-bg-color: #002925;
  --bg-color: #001413;
  --text-color: #a7d8d4;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
pre,
.footer {
  font-family: "Source Code Pro", monospace;
  color: var(--accent);
}

pre {
    font-size: 14px;
    background-color: var(--light-bg-color);
    padding: 1em .5em;
    border-radius: .5em;
}

h1 {
  font-size: clamp(2rem, 1.625rem + 1.6667vw, 3.125rem);
  text-align: center;
}

h2 {
  font-size: clamp(1.8rem, 1.7333rem + 0.2963vw, 2rem);
  margin-bottom: 2em;
}

h3 {
  font-size: clamp(1.2rem, 1.1417rem + 0.2593vw, 1.375rem);
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 .5em;
}

.margin-bottom {
  margin-bottom: 3.75em;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 3.75em 1em;
}

.hero-subtext {
    max-width: 650px;
    text-align: center;
    margin-bottom: 2em;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5em;
    position: sticky;
    top: 0;
    z-index: 99;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--light-bg-color);
    padding: 0.5em 1.25em;
    border: solid 1px var(--accent);
    border-radius: 0.625em;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 1.5em;
}

.card {
    position: relative;
    border: solid 1px var(--accent);
    border-radius: .625em;
    padding: 1em;
}

.card-title {
    text-transform: capitalize;
    background-color: var(--light-bg-color);
    border: solid 1px var(--accent);
    border-radius: .5em;
    text-align: center;
    padding: .5em;
    margin-top: -2em;
    margin-bottom: .5em;
    box-shadow: 0 0 0 6px var(--bg-color);
}

.card-text {
    margin-bottom: .5em;
}